<html>
  <head>
    <title>testing</title>
  </head>
    <body bgcolor="black">
      <center>
    <style>
           p{
         font-size:20px;
     font-family:verdana;
 color:blue;
           }
           h1{
             color:blue;
         font-family: Courier, monospace;
}
           .fon{
         font-size:50px;
             font-family:Arial;
             color:pink;
           }

           </style>
	   <br>                                                    <br>                                                    <br>
                 <h1>FREE BTC, BCH XRP</h1>                             <br>
                 <br>
                <br>                                                 <p>WINNER ALWAYS FIND A WAY</p>                      <br>                                                 <br>
           <p class="fon">START INVESTING NOW</P>
	  </center>
         </body>                                                                                             </html>
